@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Days+One&family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

/* ------etiquetas base----- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
.logos {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'inter', sans-serif;
  background: #fff;
  color: #7e7e7e;
}

main {
  min-height: 90%;
}

/* clases genéricas */
h1 {
  font-weight: 100;
  font-size: 50px;
  letter-spacing: 4px;
}

h2,
h3 {
  color: #303030;
}

.blanco {
  color: #fff;
}

.blanco:hover {
  color: #fff;
}

.grisOscuro {
  color: #666;
}

.beige {
  color: #e7d3b1;
}

.fondoGris {
  background: #bdbdbd;
}

.fondoBeige {
  background: #e7d3b1;
}

.redondo {
  border-radius: 500px;
}

.textShad {
  text-shadow: 0px 2px 10px #00000033;
}

.hovShake:hover {
  -webkit-animation: headShake;
  animation: headShake;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

.pulse:hover {
  -webkit-animation: pulse;
  animation: pulse;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.fadeInLeft {
  -webkit-animation: fadeInLeft;
  animation: fadeInLeft;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.fadeInRight {
  -webkit-animation: fadeInRight;
  animation: fadeInRight;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.fadeInDown {
  -webkit-animation: fadeInDown;
  animation: fadeInDown;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.fadeIn {
  -webkit-animation: fadeIn;
  animation: fadeIn;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/* ----- Inicio Index.html ----- */
/* ----- header ----- */
.navbar {
  -webkit-box-shadow: 0px 15px 10px #00000033;
  box-shadow: 0px 15px 10px #00000033;
  z-index: 1;
}

/* ----- portada Index ---- */
.logo {
  font-size: 30px;
}

.portadaIndex {
  background-image: url("../img/madera.jpg");
  background-size: cover;
  height: 500px;
}

.portadaIndex h2 {
  font-weight: 400;
  color: #66666680;
  font-size: 22px;
  text-shadow: 0px 2px 10px #00000033;
  letter-spacing: 5px;
}

/* ----- cuerpo Index ----- */
.descripcion p {
  letter-spacing: 1px;
}

.descripcion a {
  text-decoration: none;
  padding: 10px 35px;
  -webkit-transition: ease 500ms;
  transition: ease 500ms;
}

.descripcion a:hover {
  background: #ffeed2;
  color: #7E7E7E;
}

/* ------ pie de pagina ------ */
footer a {
  font-size: 35px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 15px;
}

footer a:hover {
  color: #666;
  -webkit-transition: ease-in 500ms;
  transition: ease-in 500ms;
}

/* -------- Inicio perfil.html --------- */
/* ----- portada de perfil.html ----- */
.portadaPerfil {
  background-image: url("../img/poligonos.jpg");
  background-size: cover;
  height: auto;
  -webkit-box-shadow: inset 5px 5px 1000px #a6a6a6;
  box-shadow: inset 5px 5px 1000px #a6a6a6;
}

.portadaPerfil h1 {
  text-shadow: 10px 15px 10px #00000033;
}

/* ----- cuerpo de perfil.html ----- */
.lamparita {
  -webkit-animation: flash;
  animation: flash;
  -webkit-animation-duration: 0.55s;
  animation-duration: 0.55s;
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
}

/* ------------------- Estilos estudio.html ------------------- */
/* ----- portada de estudio.html ----- */
.portadaEstudio {
  background-image: url("../img/estudio.jpg");
  background-size: cover;
  height: 600px;
  color: #bdbdbd;
}

/* ----- cuerpo de estudio.html ----- */
.lenguajes {
  height: 305px;
}

.logos2 {
  height: 54%;
}

/* ------------------- Inicio trabajo.html ------------------- */
/* ----- portada de trabajo.html ----- */
.portadaTrabajo {
  background-image: url("../img/trabajo.jpg");
  background-size: cover;
  height: 600px;
  background-position: center;
  -webkit-box-shadow: inset 5px 5px 1000px #4a4a4a;
  box-shadow: inset 5px 5px 1000px #4a4a4a;
}

.portadaTrabajo a {
  text-decoration: none;
  padding: 10px 35px;
  -webkit-transition: ease 500ms;
  transition: ease 500ms;
  background: #000;
}

.portadaTrabajo a:hover {
  color: #5e5e5e;
  background: #e7d3b1;
}

/* ----- cuerpo de trabajo.html ----- */
.cuerpoTrabajo img {
  padding: 10px;
}

/* ------------------- Estilos contacto.html ------------------- */
/* ----- portada/cuerpo de contacto.html ----- */
.portadaContacto {
  background-image: url("../img/contenedor2.png");
  background-size: auto;
  height: 680px;
  background-position: center;
  background-repeat: no-repeat;
}

.portadaContacto h1 {
  font-size: 40px;
  color: #666;
}

.portadaContacto .row {
  margin-left: 7%;
}

form {
  height: 480px;
}

form input,
form select,
form textarea,
form .enviar {
  background: none;
  border: none;
  border-bottom: 2px solid #666;
  outline: none;
  color: #666;
}

form input::-webkit-input-placeholder,
form select::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder,
form .enviar::-webkit-input-placeholder {
  color: #fff;
}

form input:-ms-input-placeholder,
form select:-ms-input-placeholder,
form textarea:-ms-input-placeholder,
form .enviar:-ms-input-placeholder {
  color: #fff;
}

form input::-ms-input-placeholder,
form select::-ms-input-placeholder,
form textarea::-ms-input-placeholder,
form .enviar::-ms-input-placeholder {
  color: #fff;
}

form input::placeholder,
form select::placeholder,
form textarea::placeholder,
form .enviar::placeholder {
  color: #fff;
}

form input::-webkit-outer-spin-button,
form select::-webkit-outer-spin-button,
form textarea::-webkit-outer-spin-button,
form .enviar::-webkit-outer-spin-button,
form input::-webkit-inner-spin-button,
form select::-webkit-inner-spin-button,
form textarea::-webkit-inner-spin-button,
form .enviar::-webkit-inner-spin-button {
  /* Para borrar las flechas arriba y abajo en el input "telefono" */
  -webkit-appearance: none;
  margin: 0;
}

form select {
  width: 100%;
}

form select:hover {
  background: #ffffff4C;
  -webkit-transition: ease 500ms;
  transition: ease 500ms;
  color: #666;
}

form textarea::-webkit-input-placeholder {
  color: #fff;
}

form textarea:-ms-input-placeholder {
  color: #fff;
}

form textarea::-ms-input-placeholder {
  color: #fff;
}

form textarea::placeholder {
  color: #fff;
}

.enviar {
  color: #fff;
  width: 80%;
}

.enviar:hover {
  background: #ffffff4C;
  -webkit-transition: ease 500ms;
  transition: ease 500ms;
  color: #666;
}

@media screen and (min-width: 576px) {
  .portadaIndex {
    height: 600px;
  }

  .portadaIndex h1 {
    font-size: 70px;
  }

  .portadaIndex h2 {
    font-size: 35px;
  }

  .portadaContacto {
    background-image: url("../img/contenedor2.png");
  }

  .portadaContacto .row {
    margin-left: 20%;
  }

  .portadaContacto h1 {
    font-size: 50px;
  }
}

@media screen and (min-width: 768px) {
  .portadaIndex h1 {
    font-size: 80px;
  }

  .cuerpoPerfil {
    height: 400px;
  }

  .portadaContacto .row {
    margin-left: 27%;
  }

  form select {
    width: 55%;
  }

  .enviar {
    width: 30%;
  }
}

@media screen and (min-width: 992px) {
  .portadaContacto {
    background-image: url("../img/contenedor1.png");
  }

  .portadaContacto .row {
    margin-left: 15%;
  }
}

@media screen and (min-width: 1200px) {
  .portadaContacto .row {
    margin-left: 22%;
  }
}

@media screen and (min-width: 1400px) {
  .portadaContacto .row {
    margin-left: 26%;
  }
}

/*# sourceMappingURL=estilos.css.map */