@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Days+One&family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");
/* ------ Estilos base ----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "inter", sans-serif;
  background: #fff;
  color: #7e7e7e;
}

main {
  min-height: 90%;
}

/* Clases genéricas */
h1 {
  font-weight: 100;
  font-size: 50px;
  letter-spacing: 4px;
}

h2,
h3 {
  color: #303030;
}

.blanco {
  color: #fff;
}

.blanco:hover {
  color: #fff;
}

.grisOscuro {
  color: #666;
}

.beige {
  color: #e7d3b1;
}

.fondoGris {
  background: #bdbdbd;
}

.fondoBeige {
  background: #e7d3b1;
}

.redondo {
  border-radius: 500px;
}

.textShad {
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.hovShake:hover {
  animation: headShake;
  animation-duration: 1.5s;
}

.pulse:hover {
  animation: pulse;
  animation-duration: 0.5s;
}

.fadeInLeft {
  animation: fadeInLeft;
  animation-duration: 2s;
}

.fadeInRight {
  animation: fadeInRight;
  animation-duration: 2s;
}

.fadeInDown {
  animation: fadeInDown;
  animation-duration: 2s;
}

.fadeIn {
  animation: fadeIn;
  animation-duration: 2s;
}

/* Clases genéricas */
h1 {
  font-weight: 100;
  font-size: 50px;
  letter-spacing: 4px;
}

h2,
h3 {
  color: #303030;
}

/* ---- colores y bg color ------ */
.blanco {
  color: #fff;
}
.blanco:hover {
  color: #fff;
}

.gris {
  color: #7e7e7e;
}
.gris:hover {
  color: #fff;
  transition: 0.5s;
}

.grisOscuro {
  color: #666;
}

.beige {
  color: #e7d3b1;
}

.fondoGris {
  background: #bdbdbd;
}

.fondoBeige {
  background: #e7d3b1;
}

.fondoGrisOscuro {
  background: #666;
}

.hoverGrisClarito {
  color: #666;
}
.hoverGrisClarito:hover {
  color: #9b9b9b;
  transition: 0.5s;
}

.hoverBeige {
  color: #fff;
}
.hoverBeige:hover {
  color: #e7d3b1;
  transition: 0.5s;
}

.hoverOscuro {
  color: #666;
}
.hoverOscuro:hover {
  background: #666;
  color: #fff;
  transition: 0.5s;
}

/* ----- Clases de tamaños de fuentes ------*/
.size16 {
  font-size: 16px;
}

.size18 {
  font-size: 18px;
}

.size40 {
  font-size: 40px;
}

/* ----- otras clases genericas ----- */
.redondo {
  border-radius: 500px;
}

.textShad {
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.hovShake:hover {
  animation: headShake;
  animation-duration: 1.5s;
}

.pulse:hover {
  animation: pulse;
  animation-duration: 0.5s;
}

.fadeInLeft {
  animation: fadeInLeft;
  animation-duration: 2s;
}

.fadeInRight {
  animation: fadeInRight;
  animation-duration: 2s;
}

.fadeInDown {
  animation: fadeInDown;
  animation-duration: 2s;
}

.fadeIn {
  animation: fadeIn;
  animation-duration: 2s;
}

/* ----- header y footer de todas las paginas ----- */
/* ----- header ----- */
.navbar {
  box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.logo {
  width: 45px;
}

/* ------ footer ------ */
footer a {
  font-size: 35px;
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  color: #666;
  transition: ease-in 500ms;
}

/* ----- Estilos Index.html ----- */
.portadaIndex {
  background-image: url("../img/portadaMobile.png");
  background-size: cover;
  height: 500px;
}

.portadaIndex h1 {
  font-size: 35px;
  font-weight: 200;
}

.portadaIndex h2 {
  font-weight: 400;
  color: rgba(102, 102, 102, 0.5019607843);
  font-size: 18px;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  letter-spacing: 5px;
}

.cuerpoIndex {
  background-image: url("../img/index4.jpg");
  background-size: cover;
}

.descripcion p {
  letter-spacing: 1px;
}

.descripcion a {
  text-decoration: none;
  transition: ease 500ms;
}

.descripcion a:hover {
  background: #ffeed2;
  color: #7E7E7E;
}

/* ------------------- Estilos education.html ------------------- */
.portadaFormación {
  background-image: url("../img/formacion.jpg");
  background-size: cover;
  height: 600px;
  color: #bdbdbd;
}

.lenguajes {
  height: auto;
  min-height: 400px;
}

/* ------------------- Estilos experiencie.html ------------------- */
.portadaTrabajo {
  background-image: url("../img/experience4.jpg");
  background-size: cover;
  height: 600px;
  background-position: center;
}

.fondoTrabajo {
  background-image: url("../img/experiencia4.jpg");
  background-size: cover;
}

/* ------------------- Estilos contact.html ------------------- */
.contacto {
  background-image: url("../img/contacto2.jpg");
  background-size: cover;
}

.mainContacto {
  height: 120%;
}

.labelsForm {
  font-size: 16px;
}

form {
  min-height: 150px;
  z-index: 0;
}

textarea {
  resize: none;
}

@media screen and (min-width: 576px) {
  .portadaIndex {
    height: 600px;
    background-image: url("../img/portadaMobile2.png");
  }
  .portadaIndex h1 {
    font-size: 55px;
    font-weight: 100;
  }
  .portadaIndex h2 {
    font-size: 22px;
  }
  .fondoTrabajo {
    background-image: url("../img/experiencia3.jpg");
  }
}
@media screen and (min-width: 768px) {
  .portadaIndex {
    background-image: url("../img/portadaMobile3.png");
  }
  .portadaIndex h1 {
    font-size: 60px;
  }
  .portadaIndex h2 {
    font-size: 25px;
  }
  .cuerpoIndex {
    background-image: url("../img/index3.jpg");
  }
  .portadaTrabajo {
    background-image: url("../img/experience2.jpg");
    background-position: left;
  }
  .fondoTrabajo {
    background-image: url("../img/experiencia2.jpg");
  }
  .mainContacto {
    height: 90%;
  }
}
@media screen and (min-width: 992px) {
  .portadaIndex {
    background-image: url("../img/portadaMobile3.png");
  }
  .portadaIndex h1 {
    font-size: 70px;
  }
  .cuerpoIndex {
    background-image: url("../img/index2.jpg");
  }
  .fondoTrabajo {
    background-image: url("../img/experiencia2.jpg");
  }
  .labelsForm {
    font-size: 20px;
  }
}
@media screen and (min-width: 1050px) {
  .portadaIndex {
    background-image: url("../img/portada4.png");
  }
}
@media screen and (min-width: 1150px) {
  .portadaIndex {
    background-image: url("../img/portada3.png");
  }
}
@media screen and (min-width: 1200px) {
  .cuerpoIndex {
    background-image: url("../img/index1.jpg");
  }
  .fondoTrabajo {
    background-image: url("../img/experiencia1.jpg");
  }
}
@media screen and (min-width: 1300px) {
  .portadaIndex {
    background-image: url("../img/portada2.png");
  }
}
@media screen and (min-width: 1500px) {
  .portadaIndex {
    background-image: url("../img/portada.png");
  }
}/*# sourceMappingURL=estilos.css.map */