@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

// herramientas SASS

@mixin portada ($imagen, $fondo, $altura) {
    background-image: $imagen;
    background-size: $fondo;
    height: $altura;
}

// mapa de colores
$colores:(blanco: #fff,
    grisClaro: #bdbdbd,
    gris:#7e7e7e,
    grisOscuro: #666,
    negro:#000,
    beige:#e7d3b1,
);

.gris{
    color:#7e7e7e;
    &:hover {
        color:#fff;
        transition: .5s;
    }
}

.hoverGrisClarito{
    color: #666;
    &:hover {
        color:#9b9b9b;
        transition: .5s;
    }
}
.size16{
    font-size: 16px
}

.size18{
    font-size: 18px;
}

/* ------ Estilos base ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    @extend html;
    font-family: 'inter', sans-serif;
    background: map-get($colores, blanco);
    color: map-get($colores, gris);
}

main {
    min-height: 90%;
}

@import "_clases";

/* ----- header y footer de todas las paginas ----- */

/* ----- header ----- */

.navbar {
    -webkit-box-shadow: 0px 15px 10px #00000033;
    box-shadow: 0px 15px 10px #00000033;
    z-index: 1;
}

.logo{
    width: 45px;
}

/* ------ footer ------ */

footer a {
    font-size: 35px;
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    color: #666;
    -webkit-transition: ease-in 500ms;
    transition: ease-in 500ms;
}

/* ----- Estilos Index.html ----- */

/* ----- portada Index ---- */

.portadaIndex {
    @include portada (url("../img/madera.jpg"), cover, 500px);
}

.portadaIndex h2 {
    font-weight: 400;
    color: #66666680;
    font-size: 22px;
    text-shadow: 0px 2px 10px #00000033;
    letter-spacing: 5px;
}

/* ----- cuerpo Index ----- */
.cuerpoIndex{
    background-image: url("../img/index4.jpg");
    background-size: cover;
}

.descripcion p {
    letter-spacing: 1px;
}

.descripcion a {
    text-decoration: none;
    padding: 10px 35px;
    -webkit-transition: ease 500ms;
    transition: ease 500ms;
}

.descripcion a:hover {
    background: #ffeed2;
    color: #7E7E7E;
}

/* -------- Estilos perfil.html --------- */

/* ----- portada de perfil.html ----- */

.portadaPerfil {
    @include portada (url("../img/poligonos.jpg"), cover, auto);
    box-shadow: inset 5px 5px 1000px #a6a6a6;

    h1 {
        text-shadow: 10px 15px 10px #00000033;
    }
}

/* ----- cuerpo de perfil.html ----- */

.cuerpoPerfil{
    background-image: url("../img/perfil4.jpg");
    background-size: cover;
}

.lamparita {
    animation: flash;
    animation-duration: 0.55s;
    animation-delay: 8s;
}

/* ------------------- Estilos estudio.html ------------------- */

/* ----- portada de estudio.html ----- */

.portadaEstudio {
    @include portada (url("../img/estudio.jpg"), cover, 600px);
    color: map-get($colores, grisClaro);
}

/* ----- cuerpo de estudio.html ----- */

.lenguajes {
    height:auto;
    min-height: 400px;
}

.logos {
    @extend html
}

.logos2 {
    height: 54%;
}

.fondoEstudioA{
    background-image: url("../img/estudioa5.jpg");
    background-size: cover;

}
.fondoEstudioB{
    background-image: url("../img/estudiob5.jpg");
    background-size: cover;
}
.fondoEstudioC{
    background-image: url("../img/estudioc5.jpg");
    background-size: cover;
}

/* ------------------- Estilos trabajo.html ------------------- */

/* ----- portada de trabajo.html ----- */

.portadaTrabajo {
    @include portada (url("../img/trabajo2.jpg"), cover, 600px);
    background-position: right;

    a {
        text-decoration: none;
        padding: 10px 35px;
        transition: ease 500ms;
        background: map-get($colores, negro);

        &:hover {
            color: #5e5e5e;
            background: map-get($colores, beige);
        }
    }
}

/* ----- cuerpo de trabajo.html ----- */

.fondoTrabajo{
    background-image: url("../img/trabajo5.jpg");
    background-size: cover;
}

.cuerpoTrabajo {
    img {
        padding: 10px;
    }
}

/* ------------------- Estilos contacto.html ------------------- */

/* ----- portada/cuerpo de contacto.html ----- */

.portadaContacto {
    @include portada (url("../img/contenedor2.png"), auto, 680px);
    background-position: center;
    background-repeat: no-repeat;

    h1 {
        font-size: 40px;
        color: map-get($colores, grisOscuro);
    }

    .row {
        margin-left: 7%;
    }
}

form {
    height: 480px;

    input {
        background: none;
        border: none;
        border-bottom: 2px solid map-get($colores, grisOscuro);
        outline: none;
        color: map-get($colores, grisOscuro);

        &::placeholder {
            color: map-get($colores, blanco);
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            /* Para borrar las flechas arriba y abajo en el input "telefono" */
            -webkit-appearance: none;
            margin: 0;
        }
    }

    input[type=number] {
        /* Para borrar las flechas arriba y abajo en el input "telefono" en Firefox */
        -moz-appearance: textfield;
    }

    select {
        @extend input;
        width: 100%;

        &:hover {
            background: #ffffff4C;
            transition: ease 500ms;
            color: map-get($colores, grisOscuro);
        }
    }

    textarea {
        @extend input;
        resize: none;

        &::placeholder {
            color: map-get($colores, blanco);
        }
    }
}

.enviar {
    color: map-get($colores, blanco);
    width: 100%;
    border:2px solid map-get($colores, grisOscuro);

    &:hover {
        background: #ffffff4C;
        transition: ease 500ms;
        color: map-get($colores, grisOscuro);
    }

}

@media screen and (min-width: 576px) {
    .portadaIndex {
        height: 600px;

        h1 {
            font-size: 70px;
        }

        h2 {
            font-size: 35px;
        }
    }

    .fondoEstudioA{
        background-image: url("../img/estudioa4.jpg");
    }

    .fondoEstudioB{
        background-image: url("../img/estudiob4.jpg");
    }
    
    .fondoEstudioC{
        background-image: url("../img/estudioc4.jpg");
    }

    .fondoTrabajo{
        background-image: url("../img/trabajo4.jpg");
    }

    .portadaContacto {
        background-image: url("../img/contenedor2.png");

        .row {
            margin-left: 20%;
        }

        h1 {
            font-size: 50px;
        }
    }
}

@media screen and (min-width: 768px) {
    .portadaIndex {
        h1 {
            font-size: 80px;
        }
    }

    .cuerpoIndex{
        background-image: url("../img/index3.jpg");
    }

    .cuerpoPerfil {
        height: 400px;
        background-image: url("../img/perfil3.jpg");
    }

    .fondoEstudioA{
        background-image: url("../img/estudioa3.jpg");
    }

    .fondoEstudioB{
        background-image: url("../img/estudiob3.jpg");
    }
    
    .fondoEstudioC{
        background-image: url("../img/estudioc3.jpg");
    }

    .portadaTrabajo{
        background-image: url("../img/trabajo.jpg");
        background-position: center;
    }

    .fondoTrabajo{
        background-image: url("../img/trabajo3.jpg");
    }

    .portadaContacto {
        .row {
            margin-left: 27%;
        }
    }

    form select {
        width: 55%;
    }

    .enviar {
        width: 30%;
    }
}

@media screen and (min-width: 992px) {
    .cuerpoIndex{
        background-image: url("../img/index2.jpg");
    }

    .cuerpoPerfil{
        background-image: url("../img/perfil2.jpg");
    }

    .fondoEstudioA{
        background-image: url("../img/estudioa2.jpg");
    }

    .fondoEstudioB{
        background-image: url("../img/estudiob2.jpg");
    }
    
    .fondoEstudioC{
        background-image: url("../img/estudioc2.jpg");
    }

    .fondoTrabajo{
        background-image: url("../img/trabajo1.jpg");
    }

    .portadaContacto {
        background-image: url("../img/contenedor1.png");

        .row {
            margin-left: 15%;
        }
    }
}

@media screen and (min-width: 1200px) {
    .cuerpoIndex{
        background-image: url("../img/index1.jpg");
    }

    .cuerpoPerfil{
        background-image: url("../img/perfil1.jpg");
    }

    .fondoTrabajo{
        background-image: url("../img/trabajo1.jpg");
    }

    .fondoEstudioA{
        background-image: url("../img/estudioa1.jpg");
    }

    .fondoEstudioB{
        background-image: url("../img/estudiob1.jpg");
    }

    .fondoEstudioC{
        background-image: url("../img/estudioc1.jpg");
    }

    .portadaContacto {
        .row {
            margin-left: 22%;
        }
    }
}

@media screen and (min-width: 1400px) {
    .portadaContacto {
        .row {
            margin-left: 24%;
        }
    }
}

@media screen and (min-width: 1600px) {
    .portadaContacto {
        .row {
            margin-left: 30%;
        }
    }
}