@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

// herramientas SASS

@mixin portada ($imagen, $fondo, $altura) {
    background-image: $imagen;
    background-size: $fondo;
    height: $altura;
}

// mapa de colores
$colores: (
    blanco: #fff,
    grisClaro: #bdbdbd,
    gris:#7e7e7e,
    grisOscuro: #666,
    negro:#000,
    beige:#e7d3b1,
);

/* ------ Estilos base ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    @extend html;
    font-family: 'inter', sans-serif;
    background: map-get($colores, blanco);
    color: map-get($colores, gris);
}

main {
    min-height: 90%;
}

@import "_clases";

/* Clases genéricas */

h1 {
    font-weight: 100;
    font-size: 50px;
    letter-spacing: 4px;
}

h2,
h3 {
    color: #303030;
}

/* ---- colores y bg color ------ */

.blanco {
    color: #fff;
    &:hover {
        color: #fff;
    }
}

.gris {
    color: #7e7e7e;
    &:hover {
        color: #fff;
        transition: .5s;
    }
}

.grisOscuro {
    color: #666;
}

.beige {
    color: #e7d3b1;
}

.fondoGris {
    background: #bdbdbd;
}

.fondoBeige {
    background: #e7d3b1;
}

.fondoGrisOscuro {
    background: #666;
}

.hoverGrisClarito {
    color: #666;
    &:hover {
        color: #9b9b9b;
        transition: .5s;
    }
}

.hoverBeige {
    color: #fff;

    &:hover {
        color: #e7d3b1;
        transition: .5s;
    }
}

.hoverOscuro {
    color: #666;

    &:hover {
        background: #666;
        color: #fff;
        transition: .5s;
    }
}

/* ----- Clases de tamaños de fuentes ------*/

.size16 {
    font-size: 16px
}

.size18 {
    font-size: 18px;
}

.size40 {
    font-size: 40px;
}

/* ----- otras clases genericas ----- */

.redondo {
    border-radius: 500px;
}

.textShad {
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.hovShake:hover {
    animation: headShake;
    animation-duration: 1.5s;
}

.pulse:hover {
    animation: pulse;
    animation-duration: 0.5s;
}

.fadeInLeft {
    animation: fadeInLeft;
    animation-duration: 2s;
}

.fadeInRight {
    animation: fadeInRight;
    animation-duration: 2s;
}

.fadeInDown {
    animation: fadeInDown;
    animation-duration: 2s;
}

.fadeIn {
    animation: fadeIn;
    animation-duration: 2s;
}

/* ----- header y footer de todas las paginas ----- */

/* ----- header ----- */

.navbar {
    -webkit-box-shadow: 0px 15px 10px #00000033;
    box-shadow: 0px 15px 10px #00000033;
    z-index: 1;
}

.logo {
    width: 45px;
}

/* ------ footer ------ */

footer a {
    font-size: 35px;
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    color: #666;
    -webkit-transition: ease-in 500ms;
    transition: ease-in 500ms;
}

/* ----- Estilos Index.html ----- */

.portadaIndex {
    @include portada (url("../img/portadaMobile.png"), cover, 500px);
}

.portadaIndex h1 {
    font-size: 35px;
    font-weight: 200;
}

.portadaIndex h2 {
    font-weight: 400;
    color: #66666680;
    font-size: 18px;
    text-shadow: 0px 2px 10px #00000033;
    letter-spacing: 5px;
}

.cuerpoIndex {
    background-image: url("../img/index4.jpg");
    background-size: cover;
}

.descripcion p {
    letter-spacing: 1px;
}

.descripcion a {
    text-decoration: none;
    -webkit-transition: ease 500ms;
    transition: ease 500ms;
}

.descripcion a:hover {
    background: #ffeed2;
    color: #7E7E7E;
}

/* ------------------- Estilos education.html ------------------- */

.portadaFormación {
    @include portada (url("../img/formacion.jpg"), cover, 600px);
    color: map-get($colores, grisClaro);
}

.lenguajes {
    height: auto;
    min-height: 400px;
}

/* ------------------- Estilos experiencie.html ------------------- */

.portadaTrabajo {
    @include portada (url("../img/experience4.jpg"), cover, 600px);
    background-position: center;
}

.fondoTrabajo {
    background-image: url("../img/experiencia4.jpg");
    background-size: cover;
}

/* ------------------- Estilos contact.html ------------------- */

.contacto {
    background-image: url("../img/contacto2.jpg");
    background-size: cover;
}

.mainContacto {
    height: 120%;
}

.labelsForm {
    font-size: 16px;
}

form {
    min-height: 150px;
    z-index: 0
}

textarea {
    resize: none
}

@media screen and (min-width: 576px) {
    .portadaIndex {
        height: 600px;
        background-image: url("../img/portadaMobile2.png");

        h1 {
            font-size: 55px;
            font-weight: 100;
        }
        h2 {
            font-size: 22px;
        }
    }

    .fondoTrabajo {
        background-image: url("../img/experiencia3.jpg");
    }
}

@media screen and (min-width: 768px) {
    .portadaIndex {
        background-image: url("../img/portadaMobile3.png");
        h1 {
            font-size: 60px;
        }
        h2 {
            font-size: 25px;
        }
    }

    .cuerpoIndex {
        background-image: url("../img/index3.jpg");
    }

    .portadaTrabajo {
        background-image: url("../img/experience2.jpg");
        background-position: left;
    }

    .fondoTrabajo {
        background-image: url("../img/experiencia2.jpg");
    }

    .mainContacto {
        height: 90%;
    }
}

@media screen and (min-width: 992px) {
    .portadaIndex {
        background-image: url("../img/portadaMobile3.png");
        h1 {
            font-size: 70px;
        }
    }
    .cuerpoIndex {
        background-image: url("../img/index2.jpg");
    }

    .fondoTrabajo {
        background-image: url("../img/experiencia2.jpg");
    }

    .labelsForm {
        font-size: 20px;
    }
}

@media screen and (min-width: 1050px) {
    .portadaIndex {
        background-image: url("../img/portada4.png");
    }
}

@media screen and (min-width: 1150px) {
    .portadaIndex {
        background-image: url("../img/portada3.png");
    }
}

@media screen and (min-width: 1200px) {
    .cuerpoIndex {
        background-image: url("../img/index1.jpg");
    }

    .fondoTrabajo {
        background-image: url("../img/experiencia1.jpg");
    }
    
}

@media screen and (min-width: 1300px) {
    .portadaIndex {
        background-image: url("../img/portada2.png");
    }
}

@media screen and (min-width: 1500px) {
    .portadaIndex {
        background-image: url("../img/portada.png");
    }
}
