/* ------ Importing fonts ----- */

@font-face {
  font-family: "Satoshi-Variable";
  src: url("../fonts/Satoshi-Variable.woff2") format("woff2"),
    url("../fonts/Satoshi-Variable.woff") format("woff"),
    url("../fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-VariableItalic";
  src: url("../fonts/Satoshi-VariableItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-VariableItalic.woff") format("woff"),
    url("../fonts/Satoshi-VariableItalic.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Magilio";
  src: url("../fonts/Magilio.woff2") format("woff2"),
    url("../fonts/Magilio.woff") format("woff"),
    url("../fonts/Magilio.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Magilio-slant";
  src: url("../fonts/Magilio-slant.woff2") format("woff2"),
    url("../fonts/Magilio-slant.woff") format("woff"),
    url("../fonts/Magilio-slant.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
}

/* ------ Font Classes ----- */
.fw-400{
  font-weight: 400;
}

.fw-600{
  font-weight: 600;
}


/* ------ Colors ----- */

/*
White: #E7E7E7
Darker white: #A5A5A5
Black: #121212
Grey: #333333
Blue: #354052
Green: #226348
Aqua: #9BC1BC
*/

.white{
  color:#E7E7E7;
}

.darker-white{
  color:#A5A5A5;
}

.black{
  color:#121212;
}
.grey{
  color:#333333;
}
.blue{
  color:#354052;
}
.green{
  color:#17784F;
}
.aqua{
  color:#9BC1BC;
}

/* ------ DOM Styles ----- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Satoshi-Variable", sans-serif;
  background: #E7E7E7;
  color: #121212;
}

a.black, a.green{
  &:hover{
    color: #17784F;
    transition: 0.3s
  }
}

// Main Background

.header-background{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1494%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/rect%3e%3cpath d='M-94.66 135.42 a141.73 141.73 0 1 0 283.46 0 a141.73 141.73 0 1 0 -283.46 0z' fill='rgba(165%2c 165%2c 165%2c 0.06)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M228.44 443.1 a156.26 156.26 0 1 0 312.52 0 a156.26 156.26 0 1 0 -312.52 0z' fill='rgba(165%2c 165%2c 165%2c 0.06)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M301.11 4.61 a141.98 141.98 0 1 0 283.96 0 a141.98 141.98 0 1 0 -283.96 0z' fill='rgba(165%2c 165%2c 165%2c 0.06)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1195.6 488.15 a99.17 99.17 0 1 0 198.34 0 a99.17 99.17 0 1 0 -198.34 0z' fill='rgba(165%2c 165%2c 165%2c 0.06)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1494'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-30px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-15px%2c -15px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -30px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-size:cover;
}

.body-background{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='3000' preserveAspectRatio='none' viewBox='0 0 1440 3000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1599%26quot%3b)' fill='none'%3e%3crect width='1440' height='3000' x='0' y='0' fill='url(%26quot%3b%23SvgjsRadialGradient1600%26quot%3b)'%3e%3c/rect%3e%3cpath d='M831.32 2742.55 a251.38 251.38 0 1 0 502.76 0 a251.38 251.38 0 1 0 -502.76 0z' fill='rgba(155%2c 193%2c 188%2c 0.09)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-135.99 2163.51 a280.24 280.24 0 1 0 560.48 0 a280.24 280.24 0 1 0 -560.48 0z' fill='rgba(155%2c 193%2c 188%2c 0.09)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M672.94 1469.44 a319.61 319.61 0 1 0 639.22 0 a319.61 319.61 0 1 0 -639.22 0z' fill='rgba(155%2c 193%2c 188%2c 0.09)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M46.5 530.56 a410.37 410.37 0 1 0 820.74 0 a410.37 410.37 0 1 0 -820.74 0z' fill='rgba(155%2c 193%2c 188%2c 0.09)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1599'%3e%3crect width='1440' height='3000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='50%25' cy='0%25' r='3085.19' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient1600'%3e%3cstop stop-color='rgba(53%2c 64%2c 82%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-size:cover
}

// Header

a.logo{
  cursor:pointer;
  font-size: 40px;
  font-weight: 600;
  &:hover{
    color:#9BC1BC
  }
}

.home-link{
  position: relative;
}

.active-dot{
  position: absolute;
  bottom:10px;
  color: #9BC1BC;
}

.subrayado {
  position: relative;
}

.subrayado::after {
  content: "";
  position: absolute;
  width: 0;
  bottom:0;
  left: 0;
  z-index:2;
  border-bottom: 1px solid transparent;
  transition: width 0.3s ease-in-out;
}

.subrayado:hover::after {
  width: 100%;
  border-bottom: 2px solid #9BC1BC;
  animation: fadeInRight 0.1s;
}

// Presentation

.presentation{
  font-family: "Magilio", sans-serif;
  
}

.presentation-heading{
  font-size: 160px;
}

.presentation-description{
  font-family: "Satoshi-Variable", sans-serif;
}

.s-behind {
  position: relative;
  z-index: 1;
}

.s-front {
  position: absolute;
  left: 8px;
  top:-19px;
  z-index: 2; 
}

.scroll{
  font-family: "Satoshi-Variable", sans-serif;
  font-size: 20px;
  font-weight: 400px;
}

.scroll-button{
  background: #17784F;
  width: 40px;
  height: 40px;
  box-shadow: 3px 3px 10px 2px #9BC1BC;
  transition: background 0.3s, box-shadow 0.3s;
  &:hover{
    background: #9BC1BC;
    box-shadow: 3px 3px 10px 2px #17784F;
  }
}

.fa-arrow-down{
  margin-top: 9px;
}

// Text Banner

.text-banner-container {
  width: 100%;
  background-color: #121212;
  color: #E7E7E7;
  overflow: hidden;
  height: 60px;
  position: relative;
}

.text-banner {
  background-color: #121212;
  font-weight: 600;
  white-space: nowrap;
  display: inline-block;
  position: absolute;
}

// About Me

.description{
  // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1374%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsRadialGradient1375%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1076.9 285.41 a116 116 0 1 0 232 0 a116 116 0 1 0 -232 0z' fill='rgba(155%2c 193%2c 188%2c 0.09)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-66.42 298.63 a115.81 115.81 0 1 0 231.62 0 a115.81 115.81 0 1 0 -231.62 0z' fill='rgba(155%2c 193%2c 188%2c 0.09)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M64.8 166.08 a107.95 107.95 0 1 0 215.9 0 a107.95 107.95 0 1 0 -215.9 0z' fill='rgba(155%2c 193%2c 188%2c 0.09)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M319.63 158.71 a128.19 128.19 0 1 0 256.38 0 a128.19 128.19 0 1 0 -256.38 0z' fill='rgba(155%2c 193%2c 188%2c 0.09)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1374'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='50%25' cy='100%25' r='912.14' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient1375'%3e%3cstop stop-color='rgba(53%2c 64%2c 82%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-20px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -20px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  // background-size:cover;
}

.works{
  // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1193%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsRadialGradient1194%26quot%3b)'%3e%3c/rect%3e%3cpath d='M145.89 436.69 a103.63 103.63 0 1 0 207.26 0 a103.63 103.63 0 1 0 -207.26 0z' fill='rgba(165%2c 165%2c 165%2c 0.06)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M438.62 375.52 a173.78 173.78 0 1 0 347.56 0 a173.78 173.78 0 1 0 -347.56 0z' fill='rgba(165%2c 165%2c 165%2c 0.06)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M290.41 332.53 a102.58 102.58 0 1 0 205.16 0 a102.58 102.58 0 1 0 -205.16 0z' fill='rgba(165%2c 165%2c 165%2c 0.06)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M460.96 401.01 a127 127 0 1 0 254 0 a127 127 0 1 0 -254 0z' fill='rgba(165%2c 165%2c 165%2c 0.06)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1193'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='50%25' cy='0%25' r='912.14' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient1194'%3e%3cstop stop-color='rgba(53%2c 64%2c 82%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  // background-size:cover;
  height: 3000px;
}

.work1{
  min-height: 290.138px;
}

.works-margin-top{
  margin-top:325px;
}

.works-margin-top2{
  margin-top:296.2px;
}

.works-margin-top3{
  margin-top:359.862px;
}

.grayscale-on-hover {
  filter: grayscale(100%);
  transition: filter 0.5s ease;
  &:hover{
    filter: grayscale(0%);
  }
}

/* Al pasar el cursor sobre la imagen, cambiará a color */
.grayscale-on-hover:hover {
  filter: grayscale(0%);
}